$green_0_100_100_01:rgba(0, 100, 100, .1);
$green_0_100_100_03:rgba(0, 100, 100, .3);
$green_0_100_100_07:rgba(0, 100, 100, .7);
$green_0_100_100_1:rgba(0, 100, 100, 1);
$blue_0_170_255_01:rgba(0, 170, 255, .1);
$blue_0_170_255_03:rgba(0, 170, 255, .3);
$blue_0_170_255_07:rgba(0, 170, 255, .7);
$blue_0_170_255_1:rgba(0, 170, 255, 1);
$blue_0_0_250_1:rgba(0, 0, 250, 1);
$blue_0_0_250_01:rgba(0, 0, 250, .1);
$blue_24_144_255_1:rgba(24, 144, 255, 1);
$grey_102_149_226_013:rgba(102, 149, 226, 0.13);
$grey_115_115_115_1:rgba(115, 115, 115, 1);
$grey_70_70_70_03:rgba(70, 70, 70, .3);
$black_0_0_0_01:rgba(0, 0, 0, .1);
$black_27_43_59_1:rgba(27, 43, 59, 1);
$black_0_0_0_07:rgba(0, 0, 0, .7);
$black_0_0_0_1:rgba(0, 0, 0, 1);
$white_247_247_252_1:rgba(247, 247, 252, 1);
$white_255_255_255_1:rgba(255, 255, 255, 1);
$shadow1: 0px 0px 7px 1px $blue_0_170_255_1;
$shadow2: 0px 0px 7px 1px $green_0_100_100_07;
$shadow3: 0px 0px 50px -10px $grey_102_149_226_013;
$shadow1_inset: 0px 0px 7px 1px $blue_0_170_255_1 inset;
$shadow2_inset: 0px 0px 7px 1px $green_0_100_100_07 inset;
$shadow3_inset: 0px 0px 50px -10px $grey_102_149_226_013 inset;