$light_102_149_226_1: rgba(102, 149, 226, 1);
$light_0_100_100_07: rgba(0, 100, 100, 0.7);
$light_0_100_100_1: rgba(0, 100, 100, 1);
$light_112_112_112_1: rgba(112, 112, 112, 1);
$light_115_115_115_1: rgba(115, 115, 115, 1);
$light_174_174_174_1: rgba(174, 174, 174, 1);
$light_199_211_255_1: rgba(199, 211, 255, 1);
$light_196_196_196_06: rgba(196, 196, 196, 0.6);
$light_198_198_198_1: rgba(198, 198, 198, 1);
$light_217_217_217_1: rgba(217, 217, 217, 1);
$light_238_238_238_1: rgba(238, 238, 238, 1);
$light_243_243_243_1: rgba(243, 243, 243, 1);
$light_246_248_255_1: rgba(246, 248, 255, 1);
$light_255_255_255_05: rgba(255, 255, 255, 0.5);
$light_255_255_255_1: rgba(255, 255, 255, 1);
$light_85_121_252_1: rgba(85, 121, 252, 1);
$dark_73_113_255_05: rgba(73, 113, 255, 0.5);
$dark_15_59_217_1: rgba(15, 59, 217, 1);
$dark_22_61_201_02: rgba(22, 61, 201, 0.2);
$dark_22_61_201_04: rgba(22, 61, 201, 0.4);
$dark_22_61_201_07: rgba(22, 61, 201, 0.7);
$dark_22_61_201_1: rgba(22, 61, 201, 1);
$dark_27_43_59_1: rgba(27, 43, 59, 1);
$dark_30_30_30_05: rgba(30, 30, 30, 0.5);
$dark_112_112_112_1: rgba(112, 112, 112, 1);
$dark_255_0_0_1: rgba(255, 0, 0, 1);
$dark_38_35_53_1: rgba(38, 35, 53, 1);
$dark_0_0_0_1: rgba(0, 0, 0, 1);
$shadow2: 0px 0px 7px 1px $light_0_100_100_07;
$shadow3: 0px 0px 7px 1px $light_102_149_226_1;
$shadow5: 0px 0px 7px 1px $dark_27_43_59_1;
$shadow2_inset: 0px 0px 7px 1px $light_0_100_100_07 inset;
$shadow3_inset: 0px 0px 7px 1px $light_102_149_226_1 inset;
$shadow5_inset: 0px 0px 7px 1px $dark_27_43_59_1 inset;
$bg1: linear-gradient(
	273.85deg,
	$dark_22_61_201_1 5.96%,
	$light_85_121_252_1 98.86%
);
